<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings file="secrets.config">
    <add key="MongoUsername" value="admin" />
    <add key="MongoPassword" value="admin" />
    <add key="Blizzard_ClientId" value="" />
    <add key="Blizzard_ClientSecret" value="" />
    <add key="TSM_ApiKey" value="" />
    <add key="DefaultRealm" value="drekthar" />
  </appSettings>
</configuration>